.reason-block {
  display: flex; /* для рядка блоків */
  flex-wrap: wrap; /* перенос на новий рядок при вузькому екрані */
  gap: 20px;
  margin-top: 20px;
  padding: 10px;
  justify-content: space-between; /* рівномірний розподіл */
}

.reason-block li {
  list-style: none;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  flex: 1 1 22%; 
  max-width: 23%; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.reason-block li .icon {
  width: 50px;
  height: 50px;
  background-color: lightgrey; 
  border-radius: 8px;
  margin: 0 auto 15px;
}

/* Текст блоку */
.reason-block li .text {
  font-size: 14px;
  color: #333;
}

/* Адаптивність для маленьких екранів */
/* @media (max-width: 1200px) {
  .reason-block li {
    flex: 1 1 30%; 
    max-width: 32%;
  }
} */

/* @media (max-width: 900px) {
  .reason-block li {
    flex: 1 1 45%; 
    max-width: 48%;
  }
} */

@media (max-width: 600px) {
  .reason-block {
    flex-direction: column; /* по одному блоку */
    gap: 15px;
  }

  .reason-block li {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
