
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  font-family: 'Montserrat', sans-serif;
    /* background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #63e 100%); */

  /* color: #333; */
}

.btn-green {
  background-color:#007f5f
}

.photo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo {
  width: 50%;
  height: auto;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  margin-bottom: 60px;
  padding: 20px;
  /* background-image: url("../assets/background-art.png"); */
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: left bottom 100%;
  border-radius: 10px;
  width: 95%;
  height: 400px; 
}

.greeting h1 {
  font-size: 2.5rem;
  color: #007f5f;
  margin-bottom: 20px;
  max-width: 100%; 
}

.greeting p {
  font-size: 1.5rem;
  line-height: 1.7;
  color: #2b2b2b;
  max-width: 100%; 
}

.btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
.greeting {
    padding: 15px;
    gap: 8px;
  }

  .greeting h1 {
    font-size: 2rem;
  }

  .greeting p {
    font-size: 1.2rem;
  }

  .content-work h2 {
    font-size: 1.6rem;
  }

  .content-work li {
    padding: 20px;
    font-size: 0.95rem;
  }
}


